.App {
   margin: 20px;  
   width: 30%;
   margin: 0 auto;
}

.colors{
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #282c34;
   display: inline-block;
}
.flex{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 60%;
  line-height: 0;
}


.box {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid #C8CCD8;
  border-radius: 20px;
}



/* Optional: Add border to the outer box */
.box {
  border: 1px solid #C8CCD8;
}
.header{
font-family: 'Abhaya Libre', serif;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

}
.inner-box{
  display: block;
  background-color:rgba(255, 0, 113, 1) ;
  width: 25%;
  height: 30px;
  border-radius: 20px;
}

.recharts-legend-item-text {
  color: black !important; 
}
.recharts-legend-wrapper{
  margin-top: -28px !important;
}